.THIS .icn .svg{ fill : red; }
.THIS .topText textarea {
   height:160px;
   resize: none;
}

.THIS .cTab  .div div{
   height:600px;
}
.THIS .tclickedButton {
   color:white;   
}

.THIS .cButton {
   background-color: #ffffff;
   color:gray;
   width:150px;   
}

.THIS, .THIS.mainApp, .THIS .slds-tabs_scoped__content  {
  height: 450px;
}

.THIS .clickedButton{
   background-color: #09864f;
   width:150px;
}
