h1{
    margin-left: 1.2em;
    font-weight: 700;
    font-size: 1.25em;
}
a{
    margin-left: 1.2em;  
}

.lightning-formattednumber_formattednumber-host
{
    margin-left: 1.2em;
    margin-right: 1.2em;
    font-weight: 700;
    font-size: 1.25em;
}
