.THIS .icn .svg{ fill : red; }
.THIS .topText textarea {
   height:160px;
   resize: none;
}

.THIS .cTab  .div div{
   height:600px;
}
.THIS .tclickedButton {
   color:white;   
}

.THIS .cButton {
   background-color: #ffffff;
   color:gray;
   width:100%;   
}

.THIS, .THIS.mainApp, .THIS .slds-tabs_scoped__content  {
  height: 450px;
}

.THIS .clickedButton{
   background-color: #09864f;
   width:100%;
}

.THIS .clickedButtonOrange{
   background-color: rgb(230, 122, 8);
    color:white;	
}

.THIS .clickedButtonBlue{
   background-color: rgba(27, 82, 151, 1);
    color:white;	
}