.THIS .hl1 {
  height:25%; width:33%;
}

.THIS .hl2 {
     height:25%; width:67%;
}

.THIS .l1 {
    height:25%; width:33%
}

.THIS .l2 {
     height:25%; width:33%
}

.THIS .l3 {
    height:25%; width:34%
}