.THIS .slds-checkbox {
       display: inline-block;
     float: top;
     float: right;
   }

.THIS .slds-form-element__label{
    font-size: 1.2rem !important;
}

.THIS .slds-checkbox 
{
  margin-left: 1.5em;
  display: block;
  position: relative;
  margin-top: -1.75em;  /* make       this margin match whatever your line-height is */
  line-height: 3.0em;  /* can be set here, or elsewehere */
}