.THIS .redColor{
    color: red;
}
/*.THIS .uiInputText {
    padding: 8px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 4px;
}*/
.THIS.slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
}